/* /// LAYOUT /// */

body{
  font-family: 'Raleway', sans-serif, Georgia, Times serif;
  font-weight:300;
  font-size: 20px;
  letter-spacing: 1px;
}
@media (min-width: 320px) {
  .container, .containerAbout {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    border:1px solid black;

  }
  .c1,.c2,.c3,.c4,.c6,.c7,.c5,.c8, ul{
    width: 100%;
    height: auto;

    text-align: center;
    line-height: 33px;
  }
  p{
    padding: 11px;
  }
  h1{
    font-weight: 400;
    text-align: center;
    color: #d14520;
    line-height: 150%;
    font-size: 1.5em;
  }
  h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    padding: 11px;
  }

  .c1 img{
    width: 100%;
    height:auto;
    border-bottom: 3px solid #d14520;
  }
  .c6 img{
    width: 80%;
    height: auto;
    border-radius: 25px;
  }
  .c9{
    text-align: center;
    padding:32px;
  }
  .backToTop{
    padding:45px;
  }
}
@media (min-width: 480px) {
  .c6 img{
    width: 65%;
    height: auto;
    border-radius: 25px;
  }
  .c6{
    align-self:center; /*Center of all*/
  }
  }
  @media (min-width: 768px){
    .c5, .c8{
      width:20%;
      height: auto;
    }
    .c6, .c7{
      width:30%;
      height: auto;
      align-self:center;
    }
    .c6 img{
      width: 65%;
      height: auto;
      border-radius: 25px;
    }
    .c6{
      align-self:center;
    }
    }
